# Dependencias (nunca se suben porque se instalan con npm install)
node_modules/

# Archivos de entorno y credenciales secretas
.env
.env.local
config.env

# Archivos de registro y errores
*.log
npm-debug.log*

# Carpetas de compilación o distribución (si usas TypeScript/Babel)
dist/
build/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

reload.bat